<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Meníčka v okolí</h1>
        </div>

        {% for restaurant in menus %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{restaurant.name}}</h3>
            </div>
            <div class="panel-body">
                <span><strong>Polévka:</strong> {{restaurant.menu.soup}}</span>
                <ol>
                    {% for meal in restaurant.menu.meals %}
                    <li>
                        {{meal.name}} ({{meal.price}} Kč)
                        <br/>
                        <small>{{meal.description}}</small>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endfor %}

        <small>Poslední aktualizace: {{timeStamp}}</small>
    </div>
</body>

</html>
