<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Meníčka v okolí</h1>
        </div>
        <div class="row">
            {% for restaurant in menus %}
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{restaurant.url}}" class="panel-title">{{restaurant.name}} >>></a>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail hidden-xs hidden-sm">
                            <img src="static/{{restaurant.logo}}">
                        </div>
                        <span><strong>Polévka:</strong> {{restaurant.menu.soup}}</span>
                        <ol>
                            {% for meal in restaurant.menu.meals %}
                            <li>
                                {{meal.name}} ({{meal.price}} Kč)
                                <br/>
                                <small>{{meal.description}}</small>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <small>Poslední aktualizace: {{timeStamp}}</small>
    </div>
</body>

</html>
